<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <Link rel="stylesheet" type="text/css"  href="./style/swiper.css"></Link>
</head>
<body>
  <div class="container">
    <ul>
      <!-- <li>
          <img src="./imgs/0.jpg" alt="" />
      </li>
      <li>
          <img src="./imgs/1.jpg" alt="" />
      </li>
      <li>
          <img src="./imgs/2.jpg" alt="" />
      </li> -->
    </ul>
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <script src="./js/swiper.js"></script>
</body>
</html>